.team-profile-row {
  margin-bottom: 0;
}

.team-profile-name {
  margin-top: 0;
}

.team-profile-position {
  color: #fff;
  background-color: #42A5F5;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  margin-top: 12px;
}
